<!DOCTYPE html>

<html>
  <head>
    <!-- Basic Conf/Desc -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">	
    <title>Venta Especial Boda Online</title>	
    <meta name="keywords" content="E-Swaper"/>
    <meta name="description" content="Evento">
    <meta name="author" content="Sebastian Muñoz">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#" />
    <link rel="apple-touch-icon" href="#">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- CSS-->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- JS -->
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/jquery/jquery-3.6.0.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B671VQEXVW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B671VQEXVW');
</script>

  </head>

  <body style="padding-top: 3.5rem;">
    <!-- Modal -->
    <div class="modal fade" id="concurso"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Concurso Venta Especial Boda Online</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <img src="/img/giftcard-videollamada-expositores.jpg" width="100%" height="auto"/>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="tutorial"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Tutorial</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <iframe src="https://player.vimeo.com/video/538344531?title=0&byline=0&portrait=0" width="100%" height="400" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>


        <!-- Modal -->
        <div class="modal fade" id="mi-perfil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Mi perfíl</h5>
              <% if(data.lleno_datos==1){ %>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <% } %>
              </div>
              <div class="modal-body text-center">
                <div class="row text-center">
                  <form class="text-center" action="/cambiar-perfil" method="POST">
                    <div class="col-10 text-start d-inline-block">
                      <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" disabled id="email" value="<%=data.email%>"name="email" required placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" value="<%=data.firstname%>" required name="nombre">
                      </div>
                      <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" value="<%=data.lastname%>" required name="apellidos" >
                      </div>
                      <div class="mb-3">
                        <label for="ciudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" value="<%=data.ciudad%>" required name="ciudad" >
                      </div>
                      <div class="mb-3">
                        <label for="comuna" class="form-label">Comuna</label>
                        <input type="text" class="form-control" id="comuna" value="<%=data.comuna%>" required name="comuna" >
                      </div>
                      <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="telefono" value="<%=data.telefono%>" required name="telefono" placeholder="+56912345678">
                      </div>
                      <div class="mb-3">
                        <label for="fecha_matrimonio" class="form-label">Fecha Matrimonio</label>
                        <input type="date" class="form-control" id="fecha_matrimonio" value="<% if(data.fecha_matrimonio!=undefined) { %><%=data.fecha_matrimonio.substring(0,10)%><% } %>" name="fecha_matrimonio" >
                      </div>
                      <div class="mt-2">
                        <input type="submit" class="form-control" value="Guadar Cambios">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>



    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light p-0">
        <div class="container-fluid text-start">
            <a class="navbar-brand p-0" href="/lobby" style="float: left; margin-right: 2% !important;"><img src="/img/logo_vebo.png" width="80px"/></a>
            <a class="navbar-brand p-0" href="/stand/416" style="float: left; margin-right: 2% !important;" target="_blank"><img id="noviosparis" src="/img/noviosparis.png" width="120px"/></a>
            <a class="navbar-brand p-0" href="/escenario-live" style="float: left; margin-right: 2% !important;" target="_blank">
              <div class="text-center" width="100px;">
                <span id="anuncio" class="text-dark fw-bold" style="font-size: 21px;">Programa <br> 18 Abril</span>
              </div>
            </a>           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pt-2 pb-2" id="navbarCollapse">
              <div id="#nav-collapse-menu-items" class="text-end" style="display: inline-block; width:100%;">
                <ul class="navbar-nav mb-2 mb-md-0">
                  <li class="nav-item">
                    <a id="nav" class="nav-link text-dark" href="/lobby">Lobby</a>
                  </li>
                  <li class="nav-item">
                    <a id="nav" class="nav-link" href="/escenario">Escenario</a>
                  </li>
                  <li class="nav-item">
                    <a id="nav" class="nav-link" href="/expositores">Expositores</a>
                  </li>
                  <li class="nav-item">
                    <a id="nav" class="nav-link" href="/img/programa.jpeg" target="_blank">Programa</a>
                  </li>
                </ul>
                  <a id="btn-nav" class="" href="#tutorial" data-bs-toggle="modal">Tutorial</a>
                  <a id="btn-nav" class="" href="#mi-perfil" data-bs-toggle="modal">Mi perfíl</a>
                  <a id="btn-nav" class="" href="/logout">Salir</a>
              </div>
            </div>
        </div>
    </nav>
    
    <header style="position:relative; top:45px;">
      <div style="background-color: #95bdac;">
        <div class="container pt-5 pb-2">
          <div class="row featurette mb-3">
            <div class="col-md-12 text-center">
              <h1 class="featurette-heading text-dark fw-bold">Stands<span class="text-light fw-bold"> Venta Especial Boda Online</span></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main style="position:relative; top:40px; min-height: 500px;">
        <div id="div-select-categorias" class="sticky-top" style="background-color: #95bdac; top:100px;">
          <div class="container pt-2 pb-2 text-center">
            <button id="btn-categorias" class="btn-cat"style="width:100%; height: auto; padding: 10px;">
              Categorias
            </button>
            <div id="div-categorias" style="display:none; position: absolute; top: 65px; left:10%; height: 300px; overflow: scroll; width:80%; background-color: white; 
                                            border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <ul style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                <li style="padding: 5px; list-style: none;">
                  <a id="cat" style="padding: 10px; font-weight:bold; font-size: 20px; text-decoration: none; color: black;" 
                  href="/expositores">Todos los stands</a>
                </li>
                <% if (categorias) { %>
                  <% for(var i = 0; i < categorias.length; i++) { %>
                    <li style="padding: 5px; list-style: none;">
                      <a id="cat" style="padding: 10px; font-weight:bold; font-size: 20px; text-decoration: none; color: black;" 
                      href="/expositores/<%= categorias[i].id %>"><%= categorias[i].nombre %></a>
                    </li>
                  <% } %>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
        <div class="album py-5">
            <div class="container">
              <div class="row featurette">
                <div class="col-md-12 text-left">
                  <h5>Estas viendo: <span class="fw-bold">
                    <% if (categoria == -1) { %>
                      Todos los stands
                    <% }else{ %>
                      <% for(var i = 0; i < categorias.length; i++) { %>
                        <% if (categoria == categorias[i].id) { %> <%= categorias[i].nombre %> <% } %>
                      <% } %>
                    <% } %>
                  </span></h5>
                </div>
              </div>

              <hr class="featurette-divider">
              
              <div class="row row-cols-1 row-cols-ms-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 g-3">
                <% if (stands) { %>
                  <% for(var i = 0; i < stands.length; i++) { if ( categoria == -1 || stands[i].categories.indexOf(categoria) != -1) { %>
                <div class="col O-Stand">
                  <a href="/stand/<%= stands[i].id %>" target="_blank">
                  <div class="card shadow-sm" style="width:100%; height:225px; overflow: hidden; display: flex; align-items: center; justify-content: center; border-radius: .9rem !important;">
                    <img src="/img/stands/<%= stands[i].image_min%>" width="550px" height="auto">
                    <div class="align-middle" style="display: inline-block; position:absolute; text-align:center; top:0%; left:0%; width:auto; height:50px; background-color:rgb(149, 189, 172, 1); color:white; font-weight:bold; font-size:17px; border-bottom-right-radius: .9rem !important;">
                      <table style="width:100%; height:100%;"><tbody><tr class="align-middle text-center">
                      <td class="text-center">
                        <span class="align-middle">
                          <% var categoria_stand = stands[i].categories.split(","); %>
                          <% for(var j = 0; j < categoria_stand.length; j++ ) { %>
                            <img src="/img/category_icons/<% for(var k = 0; k < categorias.length; k++ ){ if( categorias[k].id == categoria_stand[j]) { %><%= categorias[k].icono %> <% }} %>" width="40px" height="auto">
                          <% } %>
                        </span>
                      </td>
                      </tr></tbody></table>
                    </div>
                    <div class="align-middle pt-5 text-light" style="display: inline-block; position:absolute; text-align:center; bottom:0%; left:0%; width:100%; height:90%; background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(149, 189, 172, 1)); font-weight:bold; font-size:27px;">
                      <table style="width:100%; height:100%;"><tbody><tr class="align-bottom text-center">
                      <td class="text-center">
                        <span class="">
                          <%= stands[i].name%>
                        </span>
                      </td>
                      </tr></tbody></table>
                    </div>
                  </div>
                  </a>
                </div>
                  <% }} %>
                <% } %>
              </div>
            </div>
          </div>
    </main>


    <footer style="position:relative; top:45px; background-color: #95bdac;" class="footer py-3">
      <div class="container">
        <span class="text-light" style="font-size: 18px; font-weight: bold;">Venta Especial Boda Online 17 y 18 de Abril.</span>
        <br>
        <div style="width:100%" class="text-center">
          <a href="https://www.e-swaper.com/" target="_blank">
          <img src="/img/POWERED_BY_SWAPER_BLANCO.png" style="width: 300px;"/>
          </a>
        </div>
      </div>
  </footer>
    <script>
      var a_actual="a5";

      $(document).ready(function(){
        <% if(visita!=1){ %>
          $("#concurso").modal("toggle");
        <% } %>

        $("#btn-categorias").click(function(){
          $("#div-categorias").slideToggle();
        });

        function cambiarAnuncio(){
          var a1 = "Desfile <br> 15:30 Hrs";
          var a2 = "Belcanto <br> 16:00 Hrs";
          var a3 = "Tomas Cox <br> 17:00 Hrs";
          var a4 = "Valeria Morillo <br> 19:00 Hrs";
          var a5 = "Programa <br> 18 Abril";

          $("#anuncio").slideToggle();
            setTimeout(function(){
              if (a_actual=="a5"){
              $("#anuncio").html(a1);
              a_actual="a1";
            }else if (a_actual=="a1"){
              $("#anuncio").html(a2);
              a_actual="a2";
            }else if (a_actual=="a2"){
              $("#anuncio").html(a3);
              a_actual="a3";
            }else if (a_actual=="a3"){
              $("#anuncio").html(a4);
              a_actual="a4";
            }else if (a_actual=="a4"){
              $("#anuncio").html(a5);
              a_actual="a5";
            }
            $("#anuncio").slideToggle();
          },1000);
        }
        setInterval(cambiarAnuncio,3500);
      });
    </script>
  </body>
</html>